%div
  = @menu.description.html_safe  

%div
  = form_for @order, action: "create" do |f|

    %div  
      Пожалуйста, введите Ваше имя:
    = f.text_field :name

    %div  
      И E-mail:
    = f.text_field :email
  
    = f.submit 'Ok'  
  
