%div
  = @menu.description.html_safe  

%div
  = form_for @order, action: "create" do |f|

    %div  
      Пожалуйста, введите Ваше имя:
    = f.text_field :name, required: '', maxlength: '70'

    %div  
      И E-mail:
    = f.text_field :email, type: 'email', required: '', maxlength: '70'
  
    = f.submit 'Ok'  
  
