%div
  = @menu.description.html_safe  

%div
  = form_for @order, action: "create" do |f|

    %div  
      Пожалуйста, введите Ваше имя:    
    %div    
      = f.text_field :name, value: "#{flash[:order_name] || nil}"

    %div  
      И E-mail:      
    %div    
      = f.text_field :email, value: "#{flash[:order_email] || nil}"
  
    %div       
      = f.submit 'Ok'  
  
