

-#%div
  = form_for @order, url: "../../../../../../save_pay_info/#{@order.id}" do |f|

    %div
      - if flash[:order_errors]
        - flash[:order_errors].each do |attr, error_msg|
          - error_msg.each do |msg|
            %div
              =msg              
    
    %div 
      = @name
      , пожалуйста, 
      введите дату и время оплаты:     
    %div   
      = f.text_field :when_payed, value: "#{flash[:order_when_payed] || nil}"
    
    %div
      И 2 последние цифры 
      кредитной карты:       
    %div   
      = f.text_field :end_cards, value: "#{flash[:order_end_cards] || nil}"
    
    %div 
      = f.submit 'Ok'
