%div
  = form_for @order, url: "../../../../../../save_pay_info/#{@order.id}" do |f|

    = @name
    , пожалуйста, 
    введите дату и время оплаты:     
    = f.text_field :when_payed, required: '', maxlength: '100'
    
    И 2 последние цифры 
    кредитной карты:       
    = f.text_field :end_cards, type: 'number', required: '', maxlength: '2'  
    
    = f.submit 'Ok'
