%div
  = form_for @order, url: "../../../../../../save_pay_info/#{@order.id}" do |f|

    %div 
      = @name
      , пожалуйста, 
      введите дату и время оплаты:     
    %div   
      = f.text_field :when_payed
    
    %div
      И 2 последние цифры 
      кредитной карты:       
    %div   
      = f.text_field :end_cards
    
    %div 
      = f.submit 'Ok'
