!!!
%html
  %head
    = render partial: 'layouts/head/head'

    
  %body.un_select_able


    #fond_green_layer
    
    = image_tag 'fond_main/forest_original.jpg', id: 'fond_forest_main', alt: 'Умиротворяющий лес'
    
            
    - unless @menu_up_item == 'menus_main'
    
      -#= image_tag 'fond_main/forest_white_blur_50_opacity.jpg', id: 'fond_forest_main', alt: 'Умиротворяющий лес'
     
      %main
        .row-fluid
          .span5.offset2#block
            %article.lead.info_msg
              = yield
            
            
    - else      
    
      -#= image_tag 'fond_main/forest_original.jpg', id: 'fond_forest_main', alt: 'Умиротворяющий лес'
    
      %main
        .row-fluid
          %nav#block{class: "span#{@main_page.count_of_columns} offset#{@main_page.count_of_left_offsets}"}
            = yield      



= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true        
-#= javascript_include_tag 'application', 'data-turbolinks-track' => true



= render partial: 'layouts/head/pre/prerender_pages'
= render partial: 'layouts/head/pre/prefetch_current_precompiled_imgs'
/[if IE]
  %script{type: 'text/javascript', src: 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
      
      

          




